/* Author: Khaled and Brandon */
.SentScore{
    text-align: center;
    background: #E8EFFF;
    height: 100svh; 
}

.title-text {
    margin-left: 37px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 650;
    line-height: 0.75;
}

.create-button {
    background-color: #90a0f6;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.product-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}