.SentScore{
    text-align: center;
    background: #CCD1FD;
    
}

.title-text {
    margin-left: 37px;
    margin-bottom: 20px;
    text-align: left;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 650;
    line-height: 0.75;
}


.create-button {
    background-color: #90a0f6;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.product-name {
font-size: 15px;
color: black;
font-family: 'Lato' , sans-serif;
}

.product-description {
font-size: 12px;
color: gray;
font-family: 'Lato' , sans-serif;
}

.product-image {
background-color: black;
}
.empty-box {
    position: relative;
    width: 350px;
    height: 80px;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
}
.image-button {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: white;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.empty-box h2 {
    margin-left: 70px;
    margin-bottom: 10px;
    font-size: 15px;
}

.empty-box p {
    margin-left: 70px;
    
    color: black;
}

.arrow-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px; /* Adjust button width as needed */
    height: 30px; /* Adjust button height as needed */
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-size: 30px;
}
.delete-button {
    background-color: #ff6666; /* Adjust button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-right: 10px; /* Adjust margin-right to space the delete button from text */
}