/* Author: Khaled Elkhaled */

.ViewAccount{
  text-align: center;
  background-color: #e8efff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
}

.input-container {
  margin: 10px;
  padding: 15px;
  background-color: white; 
  filter: drop-shadow(0px 4px 6px rgba(62, 62, 62, 0.25));
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-heading {
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}

.container{
  margin-bottom: 20px;
}
.edit-profile{
  text-align: center;
  font-size: large;
  color: black;
  margin-bottom: -10px;
}

.ViewAccount-text{
    color: #515151;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.edit-button {
  background-color: #90a0f6; /* Change the background color to blue */
  color: white; /* Change the text color to white */
  font-size: 15px; /* Increase the font size */
  padding: 15px 130px; /* Add padding to make the button larger */
  border: none; /* Remove the default button border */
  border-radius: 30px; /* Add rounded corners */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  font-weight: bold;
  font-family: 'Lato' , sans-serif;
}







