/* InsertLink.css */

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8efff;
    height: 100vh;
  }
  
  .white-box {
    background-color: #ffffff;
    width: 70%;
    max-width: 450px;
    height: 175px;
    position: relative; /* Change to relative positioning */
    margin: 0 auto; /* Center the white box horizontally */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    top: -45px;
  }
  
  .instruction-text {
    font-size: Large;
    color: #7281d2;
    position: absolute;
    top: 100px; /* Adjust the value to move the text higher up */
    text-align: center;
    
  }

  .product-preview {
    font-size: Small;
    color: black;
    position: absolute;
    top: 175px; /* Adjust the value to move the text higher up */
    text-align: left;
    left:40px;
  }
  
 
  
  .input-container {
    margin: 10px 0;
  }
  
  .container {
    text-align: center; /* Center the button text */
    margin-top: 20px; /* Add space above the button */
  }
  
  .insert-button {
    background-color: #90a0f6;
    color: white;
    font-size: 15px; /* Adjust font size as needed */
    padding: 10px 30px; /* Adjust the padding as needed */
    width: 320px; /* Set the desired width for the button */
    height: 40px; /* Set the desired height for the button */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 50%; /* Move the button 50% from the left */
    transform: translate(-50%, -50%); /* Center the button */
    top: 295px;
    margin: 0 auto;
  }
  
  
  
  