/* Author: Saipravallika Akula */

.Login {
    text-align: center;
    background-color: #E8EFFF;
    padding-top: 50px;
    padding-bottom: 30px;
}

.Login-logo {
    margin-top: 200px; 
}

.Login-title {
    margin-left: 60px;
    text-align: left;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 650;
    line-height: 0.75;
}

.Login-subtitle {
    margin-left: 60px;
    text-align: left;
    color: #515151;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.Login-ptext {
    color: #515151;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Login-signup-text {
    color: #7281D2;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.FormTextBox-outer {
    width: 70%; 
    max-width: 450px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.FormTextBox-input {
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 5px 10px 5px 40px;
    font-size: 14px;
    line-height: 35px;
    outline: 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px 0px rgba(62, 62, 62, 0.25);
    border: 0px solid #ccc;
    border-radius: 4px;
    color: #515151;
}

.icon {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:hover {
    border: 1px solid #515151;
    box-shadow: 0px 4px 6px 0px #515151;
}

.Login-button-text {
    color: white;
    font-size: 14px;
    font-weight: 550;
    line-height: 25px;
}

.Login-button {
    border: none;
    color: white;
    width: 110px;
    height: 45px; 
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 165px;
    cursor: pointer;
    border-radius: 25px;
    background: #90A0F6;
    box-shadow: 0px 4px 6px 0px rgba(62, 62, 62, 0.25);
}
