.Main-bg {
  background-color: #e8efff;
}

.Secondary-bg {
  background-color: #b9bff4;
}

.Button-color {
  background-color: #90a0f6;
}

.Url-color {
  color: #7281d2;
}

.Yellow-higlight-color {
  background-color: #fceaab;
}

.Light-blue-color {
  background-color: #cbdce8;
}
