/* Author: Krish Chanda */
/* styles.css for ProductBox */

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 297px;
  height: 67px;
  background-color: #CCD1FD;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button {
  background: #CCD1FD;
  margin-left: 10px;
  border: none;
  width: 40px;
  height: 67px;
  cursor: pointer;
}

.view-score-button {
  margin-left: 15px; 
  text-align: left;
  width: 180px;
  height: 67px;
  border-radius: 8px;
  background: #CCD1FD;
  border: 1px solid transparent;
  cursor: pointer;
}

.view-score-button-arrow {
  margin-right: 10px; 
  align-self: right;
  width: 30px;
  height: 67px;
  border-radius: 8px;
  background: #CCD1FD;
  border: 1px solid transparent;
  cursor: pointer;
}

.view-score-button:hover, 
.delete-button:hover,
.view-score-button-arrow:hover {
  /* Set hover styles to match the default state */
  background: #CCD1FD;
  border: 1px solid transparent;
  box-shadow: none;
}

.product-name-text {
  margin-right: 10px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  /* margin-left: 0px; */
}



  
